*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width:1220px;
    margin-left: auto;
    margin-right: auto;

}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: auto;
    padding-left: auto;
}