   

.hero-paragraf{
    width:100%;
    padding-top: 108px;
   padding-left: 193px;
  
text-align: center;
}
.hero-h2{
font-size:55px;
 font-family: Arial;
font-weight: 400;
line-height: 77px;
color:  #0B0B0B;

}

.hero-p{
    width: 100%;
padding-top: 20px;
padding-bottom: 20px;

font-family: sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 27px;
text-align: center;
}
.hero-list{
    width: 420px;
padding-top:100px;

}
.hero-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #F7F9FF;

}
.hero-box-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding-top: 20px;
    
    padding-bottom: 20px;

h4{
    font-family: Arial;
font-size: 28px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;

}

    width: 909px;

top: 573px;
left: 174px;
font-family:sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;


}
.hero-title{
    width: 80%;
p{
    font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
}
.hero-box-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0B0B0B;
    color: #fff;
    padding: 20px 20px; 
}
.hero-btn{
    max-width: 250px;
    color:#0B0B0B;
    background: #CEFE2E;
     
    border-radius: 4px;
    padding: 20px 20px;

}

